# Non-Source directories
/src/docs/generated

# Mac specific files
.DS_Store

# FORTRAN compile objects
*.o
*.a
*.mod

# Python artifacts
*.pyc
__pycache__

# Editor Items
.settings
.cproject
.project
.pydevproject
.vscode

# Build/environment artifacts
/builds/
/oft_venv/
/compiler_id.txt
/setup_env.sh

# Built Files
config_cmake.sh
/build/
/build_release/
/install_release/

# Downloaded Files
/OpenBLAS-*/
/UMFPACK-*/
/arpack-*/
/hdf5-*/
/libxml2-*/
/metis-*/

